
main .main{
    position: relative;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0 0 200px;
}

main .main img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main .main div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main .main div p{
    background-color: #222222;
    color: #c4901b;
    padding: 10px 20px;
    transition: all .3s;
    cursor: pointer;
    width: 550px;
    text-align: center;
}

main .main div p:hover{
    background-color: #22222293;
}

main .main div button{
    width: 350px;
    display: flex;
    gap: 10px;
    color: white;
    background-color: #ba9544;
    border: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
}

main .main div button svg{
    width: 15px;
    transition: transform .3s;
}

main .main div button:hover{
    background-color: #ba9544c4;
}

main .main div button:hover svg{
    transform: translateX(10px);
}

/* coup de coeur */
main .coupcouer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
}

main .coupcouer #head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main .coupcouer #head div{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    justify-content: center;
    align-items: end;
    gap: 20px;
    width: 380px;
}

main .coupcouer #head div h3{
    position: relative;
    width: 100%;
    font-size: 24px;
    margin: auto 0;
    text-align: center;
    font-weight: 400;
}

main .coupcouer #head div span{
    position: relative;
    height: 3px;
    width: 100%;
    background-color: black;
}

main .coupcouer #card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    gap: 40px;
    padding: 0 20px;
}

main .coupcouer #card .cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

main .coupcouer #card .cards div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000074;
    margin-bottom: 30px;
}

main .coupcouer #card .cards div img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* display: none; */
}

main .coupcouer #card .cards h6{
    text-align: center;
    font-size: 14px;
}
/* collection */
main .collection{
    display: flex;
    flex-direction: column;
    background-color: #cfb988;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    gap: 60px;
}
main .collection #head{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* gap: 10px; */
}
main .collection #head h3{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
main .collection #head img{
    width: 200px;
}
/* card */
main .collection #card{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}
main .collection #card .cards{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    cursor: pointer;
}
main .collection #card .cards div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}

main .collection #card .cards div img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    /* display: none; */
}

main .collection #card .cards div:hover img{
    transform: scale(1.1);
}

main .collection #card .cards h3{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
}